env:
  global:
    - SENTRY_RELEASE=$TRAVIS_TAG

matrix:
  include:
    - os: osx
      osx_image: xcode10
      language: node_js
      node_js: lts/*
      if: tag IS present
    - os: windows
      env: YARN_GPG=no
      language: node_js
      node_js: lts/*
      if: tag IS present
    - os: linux
      dist: bionic
      language: node_js
      node_js: lts/*
      services:
        - xvfb

branches:
  except:
    - /^hotfix*$/
    - /^feature*$/
    - /^release*$/

cache: false

before_install:
  - export TZ='Asia/Shanghai'
install:
  - if [ $TRAVIS_OS_NAME = osx ]; then yarn install; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then yarn install; fi
  - if [ $TRAVIS_OS_NAME = windows ]; then npm install; fi

script:
  - yarn lint
  - if [ $TRAVIS_OS_NAME = osx ]; then yarn test --watchAll false; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then xvfb-run -a yarn test --watchAll false; fi
  - yarn build
after_success:
  - if [ $TRAVIS_OS_NAME = linux ]; then xvfb-run -a yarn test:coverage --watchAll false; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then cat ./coverage/lcov.info | yarn coveralls; fi

before_deploy:
  - ls ./build
  - ls ./build/static/js
  - yarn sentry-cli releases new $SENTRY_RELEASE
  - yarn sentry-cli releases files $SENTRY_RELEASE upload-sourcemaps --rewrite ./build --url-prefix ~/build/
  - yarn sentry-cli releases finalize $SENTRY_RELEASE
  - find ./build -name "*.map" -exec rm -f {} \;
  - yarn electron-pack --publish never
  - ls ./dist

deploy:
  - provider: releases
    skip_cleanup: true
    api_key: $GITHUB_REPO_TOKEN
    name: Release $TRAVIS_TAG
    draft: true
    file_glob: true
    file:
      - ./dist/*.zip
      - ./dist/*.dmg
      - ./dist/*.AppImage
      - ./dist/*.snap
      - ./dist/*.yml
      - ./dist/*.exe
    on:
      tags: true
  - provider: snap
    skip_cleanup: true
    channel: edge
    snap: ./dist/*.snap
    on:
      tags: true
      condition: $TRAVIS_OS_NAME = linux
