.list-item {
    @black-text-color: rgba(0, 0, 0, .65);
    @black-text-color-light: rgba(0, 0, 0, .85);
    @black-text-color-dark: rgba(0, 0, 0, .45);
    
    cursor: pointer;
    color: @black-text-color-dark;
    display: flex;
    padding: 0 8px 0 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    .item-sider {
        width: 26px;
        flex: 0 0 26px;
    }
    .item-main {
        flex: 1 1 auto;
    }
    .item-header {
        display: block;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
    }
    .item-header-left {
        float: left;
    }
    .item-header-right {
        float: right;
    }
    .item-content {
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        color: @black-text-color-light;
    }
    .item-footer {
        // display: block;
        // height: 22px;
        width: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 18px;
        font-size: 12px;
    }
}