.app-list {
    .list-item {
        display: flex;
        .item-sider {
            width: 56px;
            flex: 0 0 56px;
        }
        .item-main {
            flex: 1 1 auto;
        }
        .item-header {
            display: block;
            height: 22px;
        }
        .item-header-left {
            float: left;
        }
        .item-header-right {
            float: right;
        }
    }
}