@import './Values.less';

.search-article-modal {
  .ant-modal-body {
    padding: 24px 24px 12px 24px;
  }
  .search-article-keywords {
    margin-bottom: 12px;
  }
  .matched-list {
    // padding-top: 16px;
    // padding-bottom: 16px;
    max-height: calc(100vh - 164px);
    overflow-y: scroll;
    overflow-x: hidden;

    .list-item {
      &:first-child {
        margin-top: 16px;
      }
      &:hover {
        background-color: @list-selected-color;
      }
    }
  }
}
